header {
    margin-bottom: 20px;
    border-bottom: solid 2px #000000;
    background-image: -moz-linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #f2f2f2));
    background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
    background-image: -o-linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
    background-image: -ms-linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
    background-image: linear-gradient(to bottom, #f8f8f8 0%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f2f2f2', GradientType=0);
}

.icon {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
}

.icon:before {
    font-family: Glyphicons Halflings !important;
}

#state > .icon {
    color: #f04134;
}

#state > .icon:before {
    vertical-align: text-bottom;
}

#connectButton {
    margin-top: 23px;
}


